@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('Inter-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('Inter-SemiBold.ttf') format('truetype');
}
